header {
  height: 80px;
  background-color: #18549c;
}

#logo {
  margin-top: 0;
  padding: 1%;
  color: white;
}

#mainContainer {
  padding-top: 2%;
  padding-left: 3%;
}

#mainSection {
  display: flex;
  width: 90%;
  margin: 0% auto;
  padding-left: 1%;
}

h1 {
  text-align: center;
  font-weight: 600;
}

#artworkIcon {
  width: 50%;
  height: auto;
  margin-left: 5%;
}

#detailsSection {
  padding-top: 1%;
  padding-left: 5%;
}