.search-input {
  margin-left: 69.7vw !important;
}

.search-input input {
  height: 10px;
}

.museum-list {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 2%; */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  background: none;
  border: none;
  color: #0077c0;
  font-weight: bold;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination button:hover {
  color: #005fa3;
}